/* body */

body {
    text-align: center;
    background-color: tan;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
float: left;
}
 section {
     float: left;
 }

/* Header */

nav {
    float: right;
}

.box1 {
    background-color: black;
    color: white;
    height: 200px;
}

.box2 {
    border: 1px solid black;
    margin-top: 50px;
    width: 350px;
    float: left;
}

.box3 {
    border: 1px solid black;
    margin-top: 50px;
    width: 350px;
    float: right;
}

.img1 {
    float: right;
    height: 200px;
    width: 200px;
}

.button1, .button2, .button3, .button4 {
    background-color: rgb(211, 209, 209);
    border: none;
    color: blue;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 3px gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

.button1:hover, .button2:hover, .button3:hover, .button4:hover {
    background-color: gray;
    color: red;
    }
    
    .button1:active, .button2:active, .button3:active, .button4:active {
    background-color: rgb(77, 77, 77);
    box-shadow: 0 1px purple;
    transform: translateY(1px)
    }