body {
    text-align: center;
    background-color: tan;
    font-family: 'Courier New', Courier, monospace;
}

nav {
    float: right;
}

.img1 {
width: 300px;
height: 400px;
float: right;
}

.img2 {
width: 90px;
height: 90px;
    float: right;
}

.img3 {
    background-image: url(Titleimage.png);
    background-position: center;
    height: 100px;
    width: 100%;
    background-repeat: inherit;
}

.box1 {
background-color: black;
color: white;
}

.box2 {
    text-align: left;
    margin-top: 100px;
}

p {
    border: 2px solid tan;
    text-align: left;
}

section {
    border: 2px solid tan;
    color: Black;
    float: left;
    margin-left: 10px;
    padding: 5px 5px 5px 5px;
}

.button1, .button2, .button3, .button4 {
    background-color: rgb(211, 209, 209);
    border: none;
    color: blue;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 3px gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

.button1:hover, .button2:hover, .button3:hover, .button4:hover {
    background-color: gray;
    }
    
    .button1:active, .button2:active, .button3:active, .button4:active {
    background-color: rgb(77, 77, 77);
    box-shadow: 0 1px purple;
    transform: translateY(1px)
    }
